html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

#listaDocentes {
  margin-bottom: 20px;
}

h1 {
  font-weight: bold;
  font-family: sans-serif;
  color: darkslateblue;
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
  color: #004ba4;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.btn-icon {
  background-color: transparent;
  /* Blue background */
  color: white;
  /* White text */
  border: none;
  margin-left: 1vh;
}

.navbar-nav li.nav-item.active > a {
  color: #fff;
}

.noticias-container {
  display: flex;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap;
}

.noticia-title {
  margin: 1.5vh;
}

.noticia-content {
  margin: 1.5vh;
}

.noticia-card {
  background-color: #d9d9d9;
  margin-right: 2vh;
  margin-bottom: 2vh;
  border-radius: 2vh;
  height: 280px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#player-container {
  display: flex;
  justify-content: center;
  padding: 5vh;
}

#player {
  width: 560px;
  height: 315px;
}

/* Estilos para cada desenvolvedor */
.dev1,
.dev2,
.dev3,
.dev4 {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.nome {
  text-align: center;
  margin-bottom: 10px;
}

.nome h2 {
  color: #333;
  font-size: 24px;
}

.img {
  text-align: center;
  margin-bottom: 20px;
}

.img img {
  width: 150px;
  height: auto;
  border-radius: 5%;
}

.contato {
  text-align: center;
}

.dadosDeContato {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dadosDeContato li {
  margin-bottom: 10px;
}

.dadosDeContato li a {
  color: #333;
  text-decoration: none;
}

.dadosDeContato li a:hover {
  text-decoration: underline;
}
