html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

#listaDocentes {
  margin-bottom: 20px;
  margin-top: 10px;
}
  
h1 {
  font-weight: bold;
  -font-family: sans-serif;
  color: darkslateblue;
}

h2 {
  font-weight: bold;
  font-family: sans-serif;
  color: #004BA4;
  margin: 3vh;
}

.btn-icon {
  background-color: transparent;
  /* Blue background */
  color: white;
  /* White text */
  border: none;
  margin-left: 1vh;
}

.navbar-nav li.nav-item.active>a {
  color: #fff;
}

.noticias-container {
  display: flex;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap;
}

.noticia-title {
  margin: 1.5vh;
}

.noticia-content {
  margin: 1.5vh;
}

.noticia-card {
  background-color: #D9D9D9;
  margin-left: 2vh;
  margin-bottom: 2vh;
  border-radius: 2vh;
  height: 280px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}